#footer {
color: #000000;
    border-top: 3px solid #000000;
    padding-top: 25px;
    margin-top: 20px;
    text-align: center;
    overflow: hidden;
    position: relative;
}
#footer ul li{
float: left;
display: inline;
}
#footer ul {
  display: inline-block;
  float: none;
list-style-type: none;
padding: 0;
margin: auto;
width:auto;
}
#footer ul li a {
  text-transform: uppercase;
  color: black;
  font-weight:bold;
}
.heading{
font-size: 18px;
    font-weight: 700;
    color: #000000;
    line-height: 1.3;
    position: relative;
    text-transform: uppercase;
}
#footer .social{
    padding: 8px 10px 10px 6px;
    display: inline-block;
    position: relative;
    border-top: 1px solid black;
}
#footer .socical:before, #footer .socical:after {
    content: "";
    top: 28px;
    height: 1px;
    background: #000000;
}
.socical:before {
    right: 100%;
    width: 1000px;
}
.socical:after {
    left: 100%;
    width: 1000px;
}
.coppyright{
    margin-top: -15px;
    color: #606060;
    padding: 7px 0;
    font-size: 14px;
    position: relative;
}
.social-buttons {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-buttons .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 10px;
  font-size: 20px;
  /* color: #f1f1f1; */
  transition: all 0.5s ease-out;
}
.social-buttons a{
  background-color: white;
  border: 2px solid grey;
  -webkit-transition: all 2s;
}
.social-buttons a i {
  color: #4d5a6b;
}
.social-buttons .btn-facebook:hover {
  background-color: #3b5998;
}
.social-buttons .btn-facebook:hover i {
  color: white;
}
.social-buttons .btn-google:hover {
  background-color: #dd4b39;
}
.social-buttons .btn-google:hover i {
  color: white;
}
.social-buttons .btn-youtube:hover {
  background-color: #cd201f;
}
.social-buttons .btn-youtube:hover i {
  color: white;
}
.social-buttons .btn-twitter:hover {
  background-color: #1da1f2;
}
.social-buttons .btn-twitter:hover i {
  color: white;
}
