<div class="container">
  <div id ="footer">
      <ul >
        <li >
          <a class="nav-link">Trang chủ</a>
        </li>
        <li >
          <a class="nav-link">Giới thiệu</a>
        </li>
        <li >
          <a class="nav-link  ">Dịch vụ</a>
        </li>
        <li >
          <a class="nav-link  ">Dự án</a>
        </li>
        <li >
          <a class="nav-link  ">Tuyển dụng & hợp tác</a>
        </li>
        <li >
          <a class="nav-link  ">Liên hệ</a>
        </li>
    </ul>
    <div class="heading">
      <span>Công ty TNHH AN THÀNH PHÚ </span>
    </div>
    <div class="contact">
      <p *ngFor="let item of lstInfo">
        {{item.name}} : {{item.value}}
      </p>
      <!-- <p>
			  Trụ sở chính: 11 Điện Biên Phủ, KĐT Bắc Vĩnh Hải, Nha Trang<br>
				Văn phòng đại diện: A44 Số 9 Nguyễn Thiện Thuật, Phường Lộc Thọ, TP.Nha Trang, Khánh Hòa<br>
        Nhà máy sản xuất: Lô C02, Khu Công Nghiệp Suối Dầu, Cam Lâm, Khánh Hòa<br>
        Kho hàng: Số 3 Đường 2/4, Vĩnh Hòa (cạnh bến xe phía bắc), TP.Nha Trang, Khánh Hòa<br>
				Điện thoại/fax: (0258) 354 3066 - Email: minhngocstone@gmail.com - MST: 4201640021
        Hotline: 0948.36.39.33 và 0913.058.447
			</p> -->
    </div>
    <div class="socical social-buttons">

         <a href="#" class="btn btn-facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" class="btn btn-google"><i class="fa fa-google"></i></a>
        <a href="#" class="btn btn-youtube"><i class="fa fa-youtube"></i></a>
        <a href="#" class="btn btn-twitter"><i class="fa fa-twitter"></i></a>

    </div>
    <div class="coppyright">
			<div class="row">
				<div class="col-6">
					<div class="text-left">
						Copyright © 2023 <b><a href="/">An Thành Phú</a></b>. All Rights Reserved
					</div>
				</div>
				<div class="col-6">
					<div class="text-right">
						Designed by <b><a href="#" target="_blank" rel="nofollow">ngoccongvu</a></b>
					</div>
				</div>
			</div>
			<!-- <a href="#" class="scrollToTop" style="display: inline;"><img src="/assets/images/top_scroll.png" alt="IMG"></a> -->
		</div>
</div>

</div>
