
  <div class="row">
      <div class="col-3"><h3>Danh sách sản phẩm</h3></div>
  </div>
  <div class="row" *ngIf="!isCreateProd && !isEditProd" style="margin-top: 20px;">
    <div class="col-1">
      <select  class="form-control" [(ngModel)]="pageSize" (change)="GetList()">
        <option value=5>5</option>
        <option value=10>10</option>
        <option value=30>30</option>
      </select>
    </div>
    <div class="col-3">
      <input type="text" class="form-control" placeholder="tìm kiếm" [(ngModel)]="strSearch">
    </div>
     <div class="col-2">
      <select class="form-control" (change)="changePageSize($event)" [(ngModel)]="strCategory" name="parent" placeholder="Phân loại">
          <option *ngFor="let item of lstCategory " [ngValue]="item._id">
            <span style="font-size: 12pt;">{{item.name}}</span>
          </option>
        </select>
    </div>
    <div class="col-2">
      <button class="btn btn-sm btn-primary"(click)="GetList()"><i class="fa fa-search">Tìm kiếm</i></button>
    </div>
    <div class="col-2 offset-2">
      <button class="btn btn-sm btn-warning float-right" (click)="isCreate(true)">Thêm mới</button>
    </div>
  </div>
  <div class="row" *ngIf="!isCreateProd && !isEditProd" style="margin-top: 20px;">
    <table class="table table-hover" width="100%">
      <thead>
        <tr>
            <td class="text-center"width="5%">STT</td>
            <td class="text-center"width="15%">#</td>
            <td class="text-center"width="15%">Tên sản phẩm</td>
            <td class="text-center"width="5%">Mã</td>
            <td class="text-center"width="15%">Mô tả</td>
            <td class="text-center"width="10%">Phân loại</td>
            <td class="text-center"width="10%">Ngày tạo</td>
            <td class="text-center"width="10%">Ngày sửa</td>
            <td class="text-center"width="5%">Active</td>
            <td class="text-center"width="10%">#</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of lstProduct | paginate: { itemsPerPage: 5, currentPage: pageIndex , totalItems: totalItems }; let i = index">
            <td class="text-center">{{i+1}}</td>
            <td class="text-center">
              <img src="/assets/images/product3.jpeg" alt="" width="70" height="70">
            </td>
            <td class="text-center">{{item.name}}</td>
            <td class="text-center">{{item.code}}</td>
            <td class="text-center">{{item.description}}</td>
            <td class="text-center">{{item.category.name}}</td>
            <td class="text-center">{{item.createDate | date: 'dd/mm/yyyy'}}</td>
            <td class="text-center">{{item.updateDate | date: 'dd/mm/yyyy'}}</td>
              <td class="text-center">
                  <input class="form-check-input form-switch" type="checkbox" role="switch" id="flexSwitchCheckChecked" [(ngModel)]="item.active"/>
              </td>
            <td class="text-center">
              <button class="btn btn-warning" (click)="editItem(item)"><i class="fa fa-edit"></i></button>
               <button class="btn btn-danger" (click)="deleteProd(item)"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination">
      <pagination-controls class="float-right"
      (pageChange)="changePage($event)"
      [maxSize]="5"
      [autoHide]="false"
      previousLabel="Prev"
      nextLabel="Next"
      ></pagination-controls>
    </div>
  </div>
<div class="row" *ngIf="isCreateProd || isEditProd">
  <div class="col-6">
    <form action="/products" method="POST">
      <div class="form-group">
        <label for="name">Tên:</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="Product.name" required>
      </div>
      <div class="form-group">
        <label for="name">Mã:</label>
        <input type="text" class="form-control" id="code" name="code" [(ngModel)]="Product.code" required>
      </div>
      <div class="form-group">
        <label for="description">Mô tả:</label>
        <textarea class="form-control" id="description" name="description" [(ngModel)]="Product.description"></textarea>
      </div>
      <div class="form-group">
        <label for="category">Phân loại:</label>
        <select class="form-control" [(ngModel)]="Product.category_id" name="parent">
          <option *ngFor="let item of lstCategory | filterLevel : 0 : false" [ngValue]="item._id">
            <span style="font-size: 12pt;">{{item.name}}</span>
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="image">Ảnh sản phẩm :</label>
        <input type="file" id="image" (change)="onFileChange($event)" name="image" [(ngModel)]="FileImage" >
      </div>
      <div class="form-group" >
        <button  *ngIf="isCreateProd" (click)="createProduct()" type="submit" class="btn btn-primary">Tạo mới</button>
        <button *ngIf="isEditProd && !isCreateProd" (click)="editProd(Product)" type="submit" class="btn btn-warning">Cập nhật</button>
         <button class="btn btn-info" style="margin-left:20px"(click)="isCreate(false)">Thoát</button>
      </div>
    </form>
  </div>
  <div class="col6">
    <img *ngIf="FileImage" [src]="urlImage" alt="Selected Image" width="400" height="400">
  </div>
</div>
