<app-header></app-header>
<app-main-menu></app-main-menu>
<div class="wrap">
   <img src="/assets/images/cover.jpg" alt="">
</div>
<div class="container">
  <div class="row" style="margin-top:20px">
    <div class="col-6">
          <div class="contact-map">
          <img src="/assets/images/mapgg.png" width="500" height="500" alt="">
        </div>
    </div>
    <div class="col-6">
          <div class="contact-form">
          <div class="heading">
            <span>Vui lòng điền đầy đủ thông tin </span>
          </div>
          <div class="form-contact">
            <input type="text" class="form-control" placeholder="Họ tên">
            <input type="text" class="form-control" placeholder="Email">
            <input type="text" class="form-control" placeholder="Số điện thoại ">
            <textarea name="" class="form-control" id="" cols="30" rows="4" placeholder="..."></textarea>
            <button class="btn btn-info"> Gửi ngay</button>
          </div>
    </div>
    </div>
  </div>
</div>
  <app-footer>
</app-footer>
