<app-header></app-header>
<app-main-menu></app-main-menu>
<div class="wrap">
  <img src="/assets/images/cover.jpg" alt="">
</div>
<div class="container">
  <div class="body-data">
    <div class="row" >
      <div class="col-9">
        <ng-container  *ngFor="let news of lstNews; let last = last">
          <div class="row content" [ngClass]="{'last-item': !last}">
            <div class="col-4">
              <img src="/assets/images/product3.jpeg" alt="" width="250" height="200">
            </div>
            <div class="col-8">
              <div class="text-link">
                <a [routerLink]="['/tintuc/' , news.code ]"><h4>{{news.title}}</h4></a>
                <p class="data-text" [innerHTML]="news.content | safeHtml"></p>
                <span style="color:grey">{{news.createDate | date: 'dd-MM-yyyy'}}</span>
              </div>
              <div class="news">
                <a class="read-more" [routerLink]="['/tintuc/' , news.code ]"> Xem thêm </a>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="col-3 widget">
        <app-content-right [lstNews]="lstNews"></app-content-right>
      </div>
    </div>
  </div>
</div>
<app-footer>
</app-footer>
