<app-header></app-header>
<app-main-menu></app-main-menu>
<div class="wrap">
   <img src="/assets/images/cover.jpg" alt="">
</div>
<div class="container">
      <div class="content">
      <p style="text-align: center">
        <strong>Thư giới thiệu</strong>
      </p>
      <p>Quý khách hàng thân mến</p>
      <p>Quý khách hàng thân mến</p>
      <p>Quý khách hàng thân mến</p>
      <p>Quý khách hàng thân mến</p>
      <p>Quý khách hàng thân mến</p>
      <p>Quý khách hàng thân mến</p>
      <p>Quý khách hàng thân mến</p>
      <p>Quý khách hàng thân mến</p>
      <p>Quý khách hàng thân mến</p>
      </div>
</div>
  <app-footer>
</app-footer>
