<!-- navbar -->
<!-- <nav class="navbar navbar-expand-md  navbar-light">
  <button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-toggle="collapse" data-target="#myNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="myNavbar"> -->
    <div class="container-fluid">
      <div class="row">
        <!-- sidebar navbar -->
        <div class="col-lg-3 col-xl-2 col-md-4 sidebar fixed-top">
          <ul class="navbar-nav flex-column mt-4">
            <li class="nav-item">
              <a [routerLink]="['/admin/user']" routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}"
                class="nav-link text-light p-3 mb-2 sidebar-link">
                <i class="fa fa-home text-light fa-lg mr-3" aria-hidden="true"></i> Thông tin quản trị
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/admin/product']" routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}"
                class="nav-link text-light p-3 mb-2 sidebar-link"> <i class="fa fa-user text-light fa-lg mr-3"
                  aria-hidden="true"></i> Quản lý sản phẩm
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/admin/cateProduct']" routerLinkActive="current"
                [routerLinkActiveOptions]="{exact: true}" class="nav-link text-light p-3 mb-2 sidebar-link"> <i
                  class="fa fa-envelope text-light fa-lg mr-3" aria-hidden="true"></i> Quản lý danh mục sản phẩm
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/admin/introduce']" routerLinkActive="current"
                [routerLinkActiveOptions]="{exact: true}" class="nav-link text-light p-3 mb-2 sidebar-link"> <i
                  class="fa fa-shopping-cart text-light fa-lg mr-3" aria-hidden="true"></i> Giới thiệu
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/admin/news']" routerLinkActive="current"
                [routerLinkActiveOptions]="{exact: true}" class="nav-link text-light p-3 mb-2 sidebar-link"> <i
                  class="fa fa-table text-light fa-lg mr-3" aria-hidden="true"></i> Tin tức
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-light p-3 mb-2 sidebar-link"> <i
                  class="fas fa-table text-light fa-lg mr-3" aria-hidden="true"></i> Charts
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-light p-3 mb-2 sidebar-link"> <i
                  class="fa fa-table text-light fa-lg mr-3" aria-hidden="true"></i> Tables
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-light p-3 mb-2 sidebar-link"> <i
                  class="fa fa-wrench text-light fa-lg mr-3" aria-hidden="true"></i> Settings
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-light p-3 mb-2 sidebar-link"> <i class="fa fa-file text-light fa-lg mr-3"
                  aria-hidden="true"></i> Documentation
              </a>
            </li>
          </ul>
        </div>
        <!-- end sidebar -->
        <!--  top nav-->
        <div class="col-lg-9 col-xl-10 col-md-8 ml-auto py-2 ">
          <div class="row align-items-center">
            <div class="col-md-4">
            </div>
            <div class="col-md-2 offset-6">
                <button class="btn btn-md btn-info"  (click)="logout()" type="button">Đăng xuất
                </button>
            </div>
          </div>
          <div class="main-content">
            <main>
              <router-outlet></router-outlet>
            </main>
          </div>
        </div>
        <!-- end nav -->
      </div>
    </div>
  <!-- </div>
</nav> -->
