
<app-header></app-header>
<app-main-menu></app-main-menu>
<div class="product">
  <div class="container">
      <div class="heading">
         <span>Sản phẩm</span>
      </div>
      <div class="captions">
        <span>Chúng tôi đem đến các sản phẩm mới nhất</span>
      </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top zoom" src="/assets/images/product4.png" alt="Product 1">
          <div class="card-body">
            <h5 class="card-title">Product 1</h5>
            <!-- <p class="card-text">Description of Product 1</p> -->
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top zoom" src="/assets/images/product3.jpeg" alt="Product 2">
          <div class="card-body">
            <h5 class="card-title">Product 2</h5>
            <!-- <p class="card-text">Description of Product 2</p> -->
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top zoom" src="/assets/images/product4.png" alt="Product 3">
          <div class="card-body">
            <h5 class="card-title">Product 3</h5>
            <!-- <p class="card-text">Description of Product 3</p> -->
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top zoom" src="/assets/images/product3.jpeg" alt="Product 4">
          <div class="card-body">
            <h5 class="card-title">Product 4</h5>
            <!-- <p class="card-text">Description of Product 4</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="projects">
    <div class="container">
       <div class="row">
           <div class="col-md-7">
              <div class="card">
                  <img class="card-img-top" src="/assets/images/product3.jpeg" width="400" height="440" alt="Product 4">
                  <div class="card-body">
                    <h5 class="card-title">Dự án hà nội</h5>
                    <!-- <p class="card-text">Description of Product 4</p> -->
                  </div>
              </div>
           </div>
           <div class="col-md-5">
              <div class="card">
                  <img class="card-img-top" src="/assets/images/product1.jpeg" width="400" height="220"alt="Product 4">
                  <div class="card-body">
                    <h5 class="card-title">Dự án Sài gòn</h5>
                    <!-- <p class="card-text">Description of Product 4</p> -->
                  </div>
              </div>
              <div class="card">
                  <img class="card-img-top" src="/assets/images/product2.jpeg" width="400" height="220" alt="Product 4">
                  <div class="card-body">
                    <h5 class="card-title">Dự án đà nẵng</h5>
                    <!-- <p class="card-text">Description of Product 4</p> -->
                  </div>
              </div>
           </div>
       </div>
    </div>
</div>
<div class="news">
  <div class="container">
      <div class="heading">
         <span>TIN TỨC</span>
      </div>
      <div class="captions">
        <span>Cập nhật tin tức mới nhất</span>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top " src="/assets/images/product4.png" alt="Product 1">
            <div class="card-body">
              <h5 class="card-title">Tin tức 1</h5>
              <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel ipsa, iste, doloremque harum ducimus deserunt
                excepturi neque recusandae nihil similique, ullam culpa corrupti porro quasi reprehenderit sed a enim quod?</p>
              <a href="#" class="read-more">Xem thêm</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top " src="/assets/images/product4.png" alt="Product 1">
            <div class="card-body">
              <h5 class="card-title">Tin tức 2</h5>
              <p class="card-text">Description of Product 1</p>
              <a href="#" class="read-more">Xem thêm</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top " src="/assets/images/product4.png" alt="Product 1">
            <div class="card-body">
              <h5 class="card-title">Tin tức 3</h5>
              <p class="card-text">Description of Product 1</p>
              <a href="#" class="read-more">Xem thêm</a>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="container">
  <app-footer>
</app-footer>
</div>
