<div id="main-menu">
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" style="text-transform: uppercase">
        <ul class="navbar-nav ul-item">
          <li class="nav-item active dropdown">
            <a [routerLink]="['/']" routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}"
              class="nav-link ">Trang chủ</a>
          </li>
          <li class="nav-item dropdown">
            <a [routerLink]="['/gioithieu']" routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}"
              class="nav-link ">Giới thiệu</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropbtn"  [routerLink]="['/sanpham']" routerLinkActive="current"
            [routerLinkActiveOptions]="{exact: true}">Sản phẩm</a>
            <div class="dropdown-content">
              <ul class="navbar-nav sub-menu" *ngFor="let item of lstMenu">
                <li class="nav-item menu-item" style="margin-left: 0px;">
                    <a class="nav-link ">{{item.name}}</a>
                    <ul class="navbar-nav sub-menu1">
                      <li class="nav-item menu-item" *ngFor="let x of item.listMenu">
                        <a class="nav-link" href="#">{{x.name}}</a>
                      </li>
                    </ul>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link  ">Dự án</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" [routerLink]="['/dichvu']" routerLinkActive="current"
              [routerLinkActiveOptions]="{exact: true}">Dịch vụ</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" [routerLink]="['/tintuc']" routerLinkActive="current"
              [routerLinkActiveOptions]="{exact: true}">Tin tức</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" [routerLink]="['/lienhe']" routerLinkActive="current"
              [routerLinkActiveOptions]="{exact: true}">Liên hệ</a>
          </li>
          <li class="nav-item">
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Nhập từ tìm kiếm ..." aria-label="Search">
              <button class="btn btn-outline-success" type="submit"><i class="fa fa-search"></i></button>
            </form>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
